div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: coral;
    transition: all 4s;
}
div:hover{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    border-radius: 50%;
    background-color: crimson;
    transition: all 4s;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: aquamarine;
}
li{
    float: left;
}
li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover{
    background-color: coral;
}